.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   font-size: 18px;
   color: white;
   &__wrapper {
      position: relative;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
   }
   &__logo {
      font-size: 26px;
      padding: 0 20px;
      letter-spacing: 2.5px;
      position: relative;
      z-index: 10;
   }
}
