$white: white;
$blue: #2091f9;
$transp: transparent;
$black: black;
$grey: #737373;
$lgrey: #e8e8e8;
$lightgrey: #bdbdbd;
$darkblue: #252b42;
$green: #2dc071;
$orange: #e77c40;
$pink: #b3319d;
$lightblue: #8ec2f2;
$darkpurple: #313958;
$coldblue: #48aaff;
$rgbagrey: rgba(232, 232, 232, 0.4);
$grey-white: #f9f9f9;
$lightgreywhite: #dcdcdc;

$border-radius: 15px;
$transition-duration-btn: 0.4s;
